.container {
    display: flex;
    flex-direction: column;
    padding: 1.4em 2em 3.4em 2em;
    gap: 40px;
    background: url("../../../assets/images/texture_1.png");
    background-size: cover;
    position: relative;
    z-index: 1;
}
.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}
.marquee img {
    margin-right: 3.75em;
}